.container {
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page {
    display: flex;
    gap: 50px;
    justify-content: center;
}


.row {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.square {
    border: .5px solid black;
    flex-grow: 1;
}

.button-group {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reset {
    border: 2px solid black; /* Border to show when not selected */
}

.button {
    display: inline-block;
    background-color: #f0f0f0; /* Light grey background */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding inside the buttons */
    text-align: center; /* Center text inside the buttons */
    border: 2px solid transparent; /* Border to show when not selected */
    cursor: pointer; /* Change mouse cursor to pointer */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover and select */
    border-radius: 20px; /* Rounded corners for the button */
    min-width: 90px;
}

.button:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
}

input[type="radio"]:checked + label {
    background-color: #007bff; /* Blue background for selected button */
    color: white; /* White text for selected button */
    border-color: #0056b3; /* Darker blue border for selected button */
}

input[type="color"] {
    width: 50px;  /* Set the width of the color picker */
    height: 50px; /* Set the height of the color picker to make it square */
    border: none; /* Optional: Removes border */
    padding: 0; /* Optional: Removes padding */
}